/.installed.cfg
/.mr.developer.cfg
/bin
/build
/buildout.cfg
/develop-eggs
/dist
/eggs
/etc
/include
/lib
/local
/parts
/py3
/share
/src
/src/daimler.oira.egg-info
/var
*.mo
*.pyc
*~
*.bak
*.swp
*.pt.py
_site
scripts/lib
scripts/bin
scripts/include
secrets.robot
lib64
log.html
output.xml
report.html
pip-selfcheck.json
